@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/css/all.css';

.button {
  border-radius: 2px;
  text-decoration: none;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33333;
  background-color: #fff;
  border: 1px solid #ccc;
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;

  &--wide {
    width: 100%;
  }

  &--w-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.3rem;

      .icon {
        font-size: 0.85rem;
        color: #333333;
      }
  }

  &:hover {
    background: linear-gradient(to bottom, #f90 0%, #f60 100%);
    border: 1px solid #db6345;
    text-shadow: 0px -1px 0px #f60;
    color: #fff;
  }
}

.feedback {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  margin-bottom: 0.5rem;

  &__paragraph {
    margin: 0;
  }
}

.icon {
  color: #999999;
  font-size: 1.5rem;
}

.image {
  background-color: #e6e7e9;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333333;
  height: 10rem;
  width: 100%;
  font-size: 1.75rem;
}

.form-check-input {
  width: 3.5rem !important;
  height: 2rem !important;
  margin-right: 0.75rem !important;
}

/* list items */
/* styles.css */
.list {
  list-style-type: none;
  padding: 0;

  &__item {
    margin-bottom: 1rem;
  }

  &__cover-image {
    height: 14rem;
    font-size: 1.5rem;
  }

  &__title {
    color: rgb(52	152	219	);
    font-size: 1.2rem;
    margin-top: 0.55rem;
    margin-bottom: 0;
    font-weight: 700;
  }

}



.list__title {
  cursor: pointer;
}

.list__info {
  display: none;
  position: relative;
}

.list__arrow {
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #000;
  transform: rotate(45deg);
  top: 100%;
  left: 50%;
  margin-left: -5px;
}

.list__window {
  display: block;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  position: absolute;
  top: 110%;
  left: 0;
  z-index: 9999;
}

.list__info--visible {
  display: block;
}

